@media screen and (min-width: 768px) {
  /* .App {
  } */

  .grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }

  .filter-input {
    height: 40px;
    border-radius: 5px;
    margin-top: 50px;
  }
}
